In [1]:
import os
import pandas as pd
import numpy as np

In [79]:
SchoolFile = os.path.join('04 Pandas', 'PyCitySchools', 'raw_data','schools_complete.csv')
StudentFile = os.path.join('04 Pandas', 'PyCitySchools', 'raw_data','students_complete.csv')
school_df = pd.read_csv(SchoolFile)
student_df = pd.read_csv(StudentFile)
school_df.rename(columns={'name': 'campus', 'School ID' : 'school_id'}, inplace=True)
student_df.rename(columns={'school': 'campus', 'Student ID' : 'student_id', 'name' : 'student_name'}, inplace=True)
ed_df = pd.merge(school_df, student_df, on='campus')
school_name = school_df[('campus')]
school_type = school_df[('type')]
total_students = ed_df["campus"].value_counts()
total_budget = school_df[('budget')]
per_student_budget = np.divide(total_budget, total_students)
grouped_campus = ed_df.groupby('campus')
campus_math_average = grouped_campus[('math_score')].mean()
campus_reading_average = grouped_campus[('reading_score')].mean()
passing_math_score = ed_df[(ed_df["math_score"] > 70)]
count_passing_math = passing_math_score[('student_id')].count()

In [80]:
total_students

Bailey High School       4976
Johnson High School      4761
Hernandez High School    4635
Rodriguez High School    3999
Figueroa High School     2949
Huang High School        2917
Ford High School         2739
Wilson High School       2283
Cabrera High School      1858
Wright High School       1800
Shelton High School      1761
Thomas High School       1635
Griffin High School      1468
Pena High School          962
Holden High School        427
Name: campus, dtype: int64