In [8]:
import pandas as pd
import numpy as np
import csv

In [9]:
stations="hawaii_stations.csv"
weather="hawaii_measurements.csv"
stations_data=pd.read_csv (weather)
weather_data=pd.read_csv (stations)
stations_df=pd.DataFrame(stations_data)
weather_df=pd.DataFrame(weather_data)

In [10]:
weather_df.count()

station      9
name         9
latitude     9
longitude    9
elevation    9
dtype: int64

In [11]:
weather_df.describe()

        latitude   longitude   elevation
count   9.000000    9.000000    9.000000
mean   21.393826 -157.867098   60.977778
std     0.086442    0.103873  103.465547
min    21.271600 -158.011100    0.900000
25%    21.333100 -157.975100    7.000000
50%    21.393400 -157.837400   14.600000
75%    21.451670 -157.802500   32.900000
max    21.521300 -157.711390  306.600000

In [12]:
stations_df.count()

station    19550
date       19550
prcp       18103
tobs       19550
dtype: int64

In [ ]:
nan_eval=weather_df
nan_eval=pd.pivot_table(nan_eval,index=['station'], values=['prcp','tobs'])
nan_eval

In [ ]:
test=weather_df
test['NaN Count']=test['prcp'].isnull()
test['Count']=1
test=pd.pivot_table(test,index=["station"], values=['Count','NaN Count'],aggfunc=np.sum)
test['percentage']=test['NaN Count']/test['Count']*100
test

In [ ]:
stat_test1=stations_df['station']
stat_test2=weather_df['station'].unique()
clean= (stat_test1==stat_test2)
clean

In [ ]:
minrain = weather_df['prcp'].min()
maxrain = weather_df['prcp'].max()
maxtemp = weather_df['tobs'].max()
mintemp = weather_df['tobs'].min()
print('maxrain : ', maxrain, ' | minrain : ',minrain, ' | maxtemp : ', maxtemp, ' | mintemp : ',mintemp)

In [ ]:
clean_stations_df=pd.DataFrame(stations_data)
clean_weather_df=pd.DataFrame(weather_data)
clean_weather_df.drop('NaN Count', axis=1, inplace=True)
clean_weather_df.drop('Count', axis=1, inplace=True)
clean_weather_df = clean_weather_df.fillna(0)
clean_weather_df.to_csv("clean_hawaii_measurements.csv", index = False)
clean_stations_df.to_csv("clean_hawaii_stations.csv", index = False)