In [8]:
import os
import pandas as pd
import numpy as np

In [10]:
os.getcwd()

'/Users/christopher/Documents/Education/Coding Bootcamp/Git/Data_Class/CodingHomework'

In [11]:
cd ../..

/Users/christopher/Documents/Education/Coding Bootcamp/Git

In [12]:
os.getcwd()

'/Users/christopher/Documents/Education/Coding Bootcamp/Git'

In [13]:
cd ..

/Users/christopher/Documents/Education/Coding Bootcamp

In [14]:
cd Homework

/Users/christopher/Documents/Education/Coding Bootcamp/Homework

In [21]:
SchoolFile = os.path.join('04 Pandas', 'PyCitySchools', 'raw_data','schools_complete.csv')
StudentFile = os.path.join('04 Pandas', 'PyCitySchools', 'raw_data','students_complete.csv')
school_df = pd.read_csv(SchoolFile)
student_df = pd.read_csv(StudentFile)
school_df.rename(columns={'name': 'school_name', 'School ID' : 'school_id'}, inplace=True)
student_df.rename(columns={'school': 'school_name', 'Student ID' : 'student_id', 'name' : 'student_name'}, inplace=True)

In [22]:
school_df

    school_id            school_name      type  size   budget
0           0      Huang High School  District  2917  1910635
1           1   Figueroa High School  District  2949  1884411
2           2    Shelton High School   Charter  1761  1056600
3           3  Hernandez High School  District  4635  3022020
4           4    Griffin High School   Charter  1468   917500
5           5     Wilson High School   Charter  2283  1319574
6           6    Cabrera High School   Charter  1858  1081356
7           7     Bailey High School  District  4976  3124928
8           8     Holden High School   Charter   427   248087
9           9       Pena High School   Charter   962   585858
10         10     Wright High School   Charter  1800  1049400
11         11  Rodriguez High School  District  3999  2547363
12         12    Johnson High School  District  4761  3094650
13         13       Ford High School  District  2739  1763916
14         14     Thomas High School   Charter  1635  1043130

In [23]:
student_df

,student_id,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84
5,5,Bryan Miranda,M,9th,Huang High School,94,94
6,6,Sheena Carter,F,11th,Huang High School,82,80
7,7,Nicole Baker,F,12th,Huang High School,96,69
8,8,Michael Roth,M,10th,Huang High School,95,87
9,9,Matthew Greene,M,10th,Huang High School,96,84
10,10,Andrew Alexander,M,10th,Huang High School,90,70
11,11,Daniel Cooper,M,10th,Huang High School,78,77
12,12,Brittney Walker,F,9th,Huang High School,64,79
13,13,William Long,M,9th,Huang High School,71,79
14,14,Tammy Hebert,F,10th,Huang High School,85,67
15,15,Dr. Jordan Carson,M,11th,Huang High School,94,88
16,16,Donald Zamora,M,9th,Huang High School,88,55
17,17,Kimberly Santiago,F,9th,Huang High School,74,75
18,18,Kevin Stevens,M,9th,Huang High School,64,69
19,19,Brandi Lyons,F,9th,Huang High School,89,80
20,20,Lisa Davis,F,10th,Huang High School,91,89
21,21,Kristen Lopez,F,10th,Huang High School,90,77
22,22,Kimberly Stewart,F,11th,Huang High School,99,84
23,23,Christopher Parker,M,9th,Huang High School,81,68
24,24,Chelsea Griffith,F,11th,Huang High School,85,73
25,25,Cesar Morris,M,9th,Huang High School,92,70
26,26,Melanie Decker,F,9th,Huang High School,63,85
27,27,Tracey Oconnor,F,10th,Huang High School,80,58
28,28,Kelly James,F,11th,Huang High School,73,55
29,29,Nicole Brown,F,12th,Huang High School,90,88
...,...,...,...,...,...,...,...
39140,39140,Cheyenne Hernandez,F,9th,Thomas High School,76,99
39141,39141,Jonathan Sullivan,M,10th,Thomas High School,86,93
39142,39142,Deborah Higgins DDS,F,10th,Thomas High School,96,83
39143,39143,Steven Jackson,M,11th,Thomas High School,71,93
39144,39144,Cristian Webster,M,12th,Thomas High School,77,87
39145,39145,Audrey Fry,F,10th,Thomas High School,94,74
39146,39146,Michael Carroll,M,9th,Thomas High School,69,95
39147,39147,Raymond Hawkins,M,10th,Thomas High School,88,81
39148,39148,Christopher Wilson,M,10th,Thomas High School,89,89
39149,39149,Glenda Fletcher,F,11th,Thomas High School,82,93
39150,39150,Jennifer Hamilton,F,11th,Thomas High School,80,75
39151,39151,Shannon Williams,F,10th,Thomas High School,84,73
39152,39152,Lori Moore,F,9th,Thomas High School,98,84
39153,39153,William Hubbard,M,9th,Thomas High School,80,75
39154,39154,Bradley Johnson,M,12th,Thomas High School,91,71
39155,39155,John Brooks,M,10th,Thomas High School,92,98
39156,39156,Stephanie Contreras,F,11th,Thomas High School,79,95
39157,39157,Kristen Gonzalez,F,9th,Thomas High School,79,94
39158,39158,Kari Holloway,F,10th,Thomas High School,87,90
39159,39159,Kimberly Cabrera,F,11th,Thomas High School,85,72
39160,39160,Katie Weaver,F,11th,Thomas High School,89,86
39161,39161,April Reyes,F,10th,Thomas High School,70,84
39162,39162,Derek Weeks,M,12th,Thomas High School,94,77
39163,39163,John Reese,M,11th,Thomas High School,90,75
39164,39164,Joseph Anthony,M,9th,Thomas High School,97,76
39165,39165,Donna Howard,F,12th,Thomas High School,99,90
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75

In [53]:
student_df.sort_values('student_name')

,student_id,student_name,gender,grade,school_name,reading_score,math_score
36194,36194,Aaron Acosta,M,12th,Ford High School,99,95
9133,9133,Aaron Aguilar,M,9th,Hernandez High School,90,60
36126,36126,Aaron Anderson,M,9th,Ford High School,69,84
18861,18861,Aaron Atkinson,M,9th,Bailey High School,88,77
19812,19812,Aaron Bailey,M,12th,Bailey High School,98,70
17610,17610,Aaron Bonilla,M,9th,Cabrera High School,80,77
2737,2737,Aaron Booker,M,12th,Huang High School,81,64
8336,8336,Aaron Boyer,M,9th,Hernandez High School,99,83
5816,5816,Aaron Brandt,M,10th,Figueroa High School,89,66
35726,35726,Aaron Brown,M,12th,Ford High School,85,82
31033,31033,Aaron Burch,M,10th,Johnson High School,90,97
33466,33466,Aaron Burns,M,12th,Johnson High School,71,77
23908,23908,Aaron Carpenter MD,M,12th,Pena High School,86,73
20423,20423,Aaron Carter,M,9th,Bailey High School,78,85
24109,24109,Aaron Chang,M,11th,Pena High School,75,72
17636,17636,Aaron Christensen,M,12th,Cabrera High School,81,76
18928,18928,Aaron Clark,M,10th,Bailey High School,81,55
33846,33846,Aaron Cole,M,9th,Johnson High School,87,86
20380,20380,Aaron Cook,M,10th,Bailey High School,93,67
3580,3580,Aaron Cooper,M,11th,Figueroa High School,86,80
8633,8633,Aaron Crawford,M,10th,Hernandez High School,87,62
20181,20181,Aaron Cruz,M,10th,Bailey High School,70,95
6613,6613,Aaron Dalton,M,10th,Shelton High School,81,72
19809,19809,Aaron Davis Jr.,M,11th,Bailey High School,97,63
4852,4852,Aaron Dean,M,10th,Figueroa High School,66,81
29690,29690,Aaron Deleon,M,9th,Rodriguez High School,96,84
30367,30367,Aaron Dixon,M,9th,Johnson High School,79,94
6889,6889,Aaron Duncan,M,9th,Shelton High School,75,81
7956,7956,Aaron Eaton,M,10th,Hernandez High School,81,61
28651,28651,Aaron Ellis,M,9th,Rodriguez High School,65,82
...,...,...,...,...,...,...,...
9280,9280,Zachary Smith,M,11th,Hernandez High School,91,94
21864,21864,Zachary Stone,M,11th,Bailey High School,94,94
28054,28054,Zachary Strong,M,10th,Rodriguez High School,80,75
33768,33768,Zachary Stuart,M,9th,Johnson High School,67,89
2168,2168,Zachary Thompson,M,12th,Huang High School,82,96
9029,9029,Zachary Torres,M,10th,Hernandez High School,73,88
5597,5597,Zachary Torres,M,11th,Figueroa High School,66,79
3126,3126,Zachary Turner,M,10th,Figueroa High School,95,55
7577,7577,Zachary Vasquez,M,9th,Shelton High School,71,75
18265,18265,Zachary Walton,M,11th,Bailey High School,80,88
4469,4469,Zachary Warren,M,11th,Figueroa High School,85,63
28360,28360,Zachary Waters,M,9th,Rodriguez High School,94,69
32127,32127,Zachary White,M,11th,Johnson High School,83,57
31971,31971,Zachary Whitney,M,10th,Johnson High School,82,87
6762,6762,Zachary Williams,M,11th,Shelton High School,97,77
17889,17889,Zachary Williams,M,12th,Bailey High School,77,89
20464,20464,Zachary Williams,M,9th,Bailey High School,97,55
26700,26700,Zachary Winters,M,10th,Rodriguez High School,80,81
5069,5069,Zachary Wyatt,M,10th,Figueroa High School,90,84
38638,38638,Zoe Allen,F,9th,Thomas High School,75,83
13032,13032,Zoe Burgess,F,12th,Griffin High School,75,98
35233,35233,Zoe Burton,F,9th,Ford High School,91,55
1470,1470,Zoe Castro,F,10th,Huang High School,66,79
16999,16999,Zoe Gaines,F,9th,Cabrera High School,81,88
23034,23034,Zoe Hawkins,F,11th,Holden High School,97,75
14411,14411,Zoe Hawkins,F,9th,Wilson High School,77,71
6495,6495,Zoe Henry,F,12th,Shelton High School,79,71
7134,7134,Zoe Mayer,F,11th,Shelton High School,97,82
1087,1087,Zoe Mcmillan,F,11th,Huang High School,69,59
10646,10646,Zoe Meyer,F,10th,Hernandez High School,85,92

In [54]:
grouped_reading_score = ed_df.groupby('reading_score')

In [55]:
grouped_reading_score.count()

,school_id,school_name,type,size,budget,student_id,name,gender,grade,math_score
reading_score,,,,,,,,,,
63,751,751,751,751,751,751,751,751,751,751
64,738,738,738,738,738,738,738,738,738,738
65,758,758,758,758,758,758,758,758,758,758
66,743,743,743,743,743,743,743,743,743,743
67,714,714,714,714,714,714,714,714,714,714
68,746,746,746,746,746,746,746,746,746,746
69,1110,1110,1110,1110,1110,1110,1110,1110,1110,1110
70,1110,1110,1110,1110,1110,1110,1110,1110,1110,1110
71,1073,1073,1073,1073,1073,1073,1073,1073,1073,1073
72,1120,1120,1120,1120,1120,1120,1120,1120,1120,1120
73,1112,1112,1112,1112,1112,1112,1112,1112,1112,1112
74,1106,1106,1106,1106,1106,1106,1106,1106,1106,1106
75,1149,1149,1149,1149,1149,1149,1149,1149,1149,1149
76,1087,1087,1087,1087,1087,1087,1087,1087,1087,1087
77,1178,1178,1178,1178,1178,1178,1178,1178,1178,1178
78,1078,1078,1078,1078,1078,1078,1078,1078,1078,1078
79,1116,1116,1116,1116,1116,1116,1116,1116,1116,1116
80,1150,1150,1150,1150,1150,1150,1150,1150,1150,1150
81,1121,1121,1121,1121,1121,1121,1121,1121,1121,1121
82,1162,1162,1162,1162,1162,1162,1162,1162,1162,1162
83,1176,1176,1176,1176,1176,1176,1176,1176,1176,1176
84,1166,1166,1166,1166,1166,1166,1166,1166,1166,1166
85,1128,1128,1128,1128,1128,1128,1128,1128,1128,1128
86,1113,1113,1113,1113,1113,1113,1113,1113,1113,1113
87,1161,1161,1161,1161,1161,1161,1161,1161,1161,1161
88,1125,1125,1125,1125,1125,1125,1125,1125,1125,1125
89,1095,1095,1095,1095,1095,1095,1095,1095,1095,1095
90,1105,1105,1105,1105,1105,1105,1105,1105,1105,1105
91,1076,1076,1076,1076,1076,1076,1076,1076,1076,1076
92,1197,1197,1197,1197,1197,1197,1197,1197,1197,1197
93,1110,1110,1110,1110,1110,1110,1110,1110,1110,1110
94,1114,1114,1114,1114,1114,1114,1114,1114,1114,1114
95,1126,1126,1126,1126,1126,1126,1126,1126,1126,1126
96,1089,1089,1089,1089,1089,1089,1089,1089,1089,1089
97,1026,1026,1026,1026,1026,1026,1026,1026,1026,1026
98,1166,1166,1166,1166,1166,1166,1166,1166,1166,1166
99,1075,1075,1075,1075,1075,1075,1075,1075,1075,1075

In [56]:
grouped_reading_score.mean()

               school_id         size        budget    student_id  math_score
reading_score
63              7.026631  4060.351531  2.610852e+06  19757.078562   77.038615
64              7.094851  4030.390244  2.588789e+06  19966.379404   76.627371
65              6.960422  4046.799472  2.600998e+06  19550.394459   77.006596
66              7.091521  4050.814266  2.604697e+06  19958.004038   77.433378
67              6.872549  3992.088235  2.566469e+06  19283.116246   76.613445
68              7.239946  4059.890080  2.609111e+06  20180.183646   77.908847
69              6.936937  3189.962162  2.020129e+06  19438.456757   79.511712
70              7.070270  3207.245045  2.033130e+06  19812.327928   79.574775
71              6.900280  3221.517241  2.041640e+06  19427.931966   79.505126
72              6.820536  3233.325893  2.050403e+06  19151.328571   79.473214
73              7.286871  3233.689748  2.051009e+06  20340.456835   79.468525
74              6.995479  3207.815552  2.034894e+06  19703.006329   79.172694
75              7.154047  3302.303742  2.093645e+06  20062.983464   78.799826
76              6.885005  3266.362466  2.070869e+06  19284.272309   78.948482
77              6.906621  3260.419355  2.066852e+06  19420.106112   78.718166
78              6.888683  3313.261596  2.102122e+06  19268.625232   79.522263
79              7.148746  3252.525090  2.058423e+06  20013.574373   79.020609
80              6.947826  3301.772174  2.096603e+06  19555.671304   79.043478
81              7.027654  3214.505798  2.038776e+06  19698.873327   79.152542
82              6.948365  3290.129948  2.087884e+06  19491.969019   78.796902
83              6.990646  3304.022109  2.093867e+06  19634.109694   79.481293
84              6.944254  3250.530017  2.060421e+06  19459.400515   78.350772
85              6.939716  3179.072695  2.013544e+06  19526.545213   79.333333
86              7.016173  3161.543576  2.002710e+06  19627.989218   79.428571
87              6.819121  3120.815676  1.971981e+06  19152.748493   79.703704
88              7.330667  3300.047111  2.097261e+06  20430.455111   79.344000
89              6.871233  3279.213699  2.080246e+06  19257.154338   79.547032
90              6.831674  3270.800905  2.075683e+06  19227.078733   78.857014
91              6.918216  3169.550186  2.007472e+06  19435.836431   79.666357
92              6.840434  3269.704261  2.075927e+06  19256.426065   79.556391
93              6.983784  3219.579279  2.040731e+06  19588.005405   79.404505
94              7.038600  3255.874327  2.064880e+06  19781.676840   79.383303
95              6.833925  3253.579929  2.064140e+06  19298.881883   78.523091
96              6.867769  3238.409550  2.055281e+06  19355.798898   79.173554
97              7.135478  3302.009747  2.095477e+06  19949.510721   79.138402
98              7.054031  3254.268439  2.061907e+06  19768.467410   79.450257
99              6.711628  3181.133023  2.016685e+06  18897.030698   79.014884

In [57]:
grouped_reading_scor.iloc[0:3,0:4]

NameError: name 'grouped_reading_scor' is not defined